// color

// pallet
$color-1:#00e0ff;
$color-2:#74f9ff;
$color-3:#a6fff2;
$weight-color:#e7ffe7;

$accent-color:#6BFFC0;

$err-color:rgb(233, 104, 104);
$success-color:rgb(4, 204, 4);

$white-color:#ffffff;
$white-color-x:#e4e4e4;
$dark-color:#000000;
$dark-color-x:#525252;
$dark-color-xx:#868686;





